@charset "utf-8";

/*-------------------------*/
/*  base
/*-------------------------*/
body {
  font-family: "メイリオ", Meiryo, 'Kosugi Maru', sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
  line-height: 1.8;
  font-size: 16px;
  color: #111;
}

/*-------------------------*/
/*  common
/*----------*/

/* all */
.section_wrap {
  padding: 120px;
}

.section_inner {
  width: 1200px;
  margin: 0 auto;
}

.section_ttl {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5em;
}

.section_sub_ttl {
  font-weight: bold;
  text-align: center;
  padding-bottom: 60px;
}


/* header */
header {
  background-color: #648d99;
  height: 80px;
  line-height: 80px;
}

.nav_list {
  display: flex;
  justify-content: end;
  list-style: none;
}

.nav_item a {
  color: #fff;
  font-size: 24px;
}

.nav_item+.nav_item {
  margin-left: 50px;
}


/* main */
#main {
  width: 100%;
  background: url(../images/MV_1.jpg);
  background-size: cover;
  height: 946px;
}

.main_text {
  color: #fff;
  text-align: center;
  letter-spacing: 1em;
  padding-top: 220px;
  font-weight: bold;
}

.main_text h1 {
  font-size: 32px;
}

/* works */
#works {
  background-color: #C9D8E6;
}

.items_wrap {
  display: flex;
  flex-wrap: wrap;
}

.items_item {
  width: 380px;
}

.items_item:not(:nth-child(1)):not(:nth-child(4)) {
  margin-left: 30px;
}

.items_item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  margin-top: 60px;
}

.work_text_top {
  display: flex;
}

.work_kind {
  font-size: 12px;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 3px 10px;
  margin-top: 8px;
}

.work_month {
  font-size: 12px;
  margin-left: 8px;
  margin-top: 8px;
  color: #605A5A;
}

.work_ttl {
  font-size: 24px;
  margin-top: 8px;
  font-weight: bold;
}

.work_other {
  margin-top: 8px;
}

/* profile */
#profile {
  background-color: #95BBC6;
}

.profile_content {
  display: flex;
  align-items: center;
}

.profile_text {
  margin-left: 60px;
}

.name_en {
  font-size: 32px;
  letter-spacing: 0.5em;
}

.name_ja {
  font-size: 24px;
}

.birth {
  margin-top: 60px;
}

.other {
  margin-top: 60px;
}

.btn_more {
  text-align: right;
}

/* skills */
#skills {
  background-color: #95BBC6;
}

.skills_wrap {
  display: flex;
}

.skills_item {
  width: 360px;
}

.skills_item+.skills_item {
  margin-left: 60px;
}

.skills_ttl {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.skills_sub_ttl {
  font-weight: bold;
  text-align: center;
}

.skills_text {
  margin-top: 30px;
}

/* footer */
.footer {
  color: #fff;
  background-color: #648D99;
  text-align: center;
}

.footer_text {
  font-size: 24px;
  margin-top: 60px;
}

.btn_email {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 50px;
}

.footer-cr {
  display: block;
  margin-top: 60px;
  text-align: right;
}